[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-cors = "*"
pymysql = "*"
flask-mail = "*"
qrcode = "*"
image = "*"
xpinyin = "==0.5.6"
opencv-python = "*"
pyzbar = "*"
flask-cache = "*"

[requires]
python_version = "3.6"
